* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "sarabun";

}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.container {
    width: 1440px;
    padding: 0px 15px;

}

#header {


    width: 1920px;
    padding: 65px 240px 370px 240px;
}

#header .top-header {
    margin-bottom: 225px;
}

ul#main-menu li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 38px;
    padding-right: 60px;
}

ul#main-menu li:last-child a {
    padding-right: 0px;
    text-decoration: underline;
    color: #281d52;
}

ul#main-menu li:hover a {
    color: #281d52;
    text-decoration: none;
}

#header .post-header .post-title {
    color: #fff;
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 30px;
}

#header .post-header .post-content {
    width: 600px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
}

#featured-post {
    margin-top: 65px;
    margin-bottom: 85px;
    width: 1920px;
    padding: 0px 240px;
}

#featured-post ul li:first-child {
    flex-basis: 440px;
}

#featured-post ul li:nth-child(2) {
    flex-basis: 450px;

}

#featured-post ul li:last-child {
    flex-basis: 360px;
}

#featured-post ul li a {
    display: block;
    margin-bottom: 22px;
}

#featured-post ul li p.post-content {
    margin-bottom: 0px;
    color: #261a4e;
    font-size: 24px;
    font-weight: 500;
}

#list-post-thumb {
    width: 1920px;
    padding: 0px 75px;
}

ul.list-thumb li {
    flex-basis: 570px;

}

ul.list-thumb li a {
    display: block;


}

ul.list-thumb li a img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

ul.list-thumb ul.list-item {
    margin-top: 30px;
    padding: 0px 170px 0px 60px;
}

ul.list-thumb ul.list-item li {
    background: #e0e0de;
    flex-basis: 40px;
    height: 3px;
    margin-right: 10px;
}

ul.list-thumb ul.list-item li.active {
    background: #261a4e;
}

#content {
    width: 1920px;
    padding: 0px 240px;

    margin-top: 130px;
}
#content .box-head{
    margin-bottom: 42px;
}
#content h2 {
    font-size: 48px;
    color: #261a4e;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}

#content .box-head p {
    margin-bottom: 0px;
    text-align: center;
    color: #261a4e;
    font-size: 30px;
    font-weight: 600;
    padding: 0px 260px;
}
#content ul.list-item{
    flex-wrap: wrap;
}
#content ul.list-item>li{
    flex-basis: 150px;
    border: 1px solid #b4b4b4;
    margin-bottom: 30px;
    padding: 38px 81px;
   text-align: center;
 
}
#content ul.list-item>li>a{
    display: block;
    color: #261a4e;
}
#content ul.list-item>li>a.name{
 
    font-size: 36px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
#content ul.list-item>li:hover a.name{
    text-decoration: none;
}
#content ul.list-item li p.content{
    font-size: 24px;
    font-weight: 500;
}
#content ul.list-item ul.list-contact{
    display: flex;
    justify-content: center;
}
#content ul.list-item ul.list-contact li{
    margin-right: 15px;
}

#banner{
    margin-top: 105px;
    width: 1920px;
    padding: 75px 240px 390px 240px;
 
}
#banner .container{
    text-align: center;
}
#banner {
    color: #fff;
 
    font-weight: 600;
}
#banner .title{
    text-transform: uppercase;
    font-size: 48px;
}
#banner .content{
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 0px;
    padding: 0px 246px;
}
#footer{
    width: 1920px;
    padding: 0px 240px;
}
#footer .container{
    padding: 25px 0px;
}
#footer ul.footer-menu li a{
    display: block;
    color: #261a4e;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 25px 40px 25px 0px;
}
#footer ul.footer-menu li:first-child a{
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#footer ul.footer-menu li:hover a{
    text-decoration: none;
}
#footer ul.list-contact li a{
    display: block;
    color: #261a4e;
    font-size: 30px;
    font-weight: 500;
    padding-right: 7px;
    padding-top: 18px;
    padding-bottom: 18px;
}
#footer ul.list-contact li:first-child a{
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}